body, html{
	
	width: 100%;
	height:100%;
	margin: 0; height: 100%; overflow: hidden;
	min-height: 100% !important;

}

body{
	background-image: url('../assets/main.jpg');
	background-repeat: no-repeat;
	background-size: 100% 105%;
}
.list-1{
	list-style: none;
	margin-top: 1%;
}

.list-2{
	list-style: none;
	margin-top: 1%;
}

h2{

	margin-bottom: 1%;
}
/*Intro*/
#intro{

}
/*End intro*/

/*Main*/
.main{

	display: none;
}

/*Second Section */
.icons-dis{

	display: none;
}

.icon-1{

	display: none;
}

.icon-2{

	display: none;
}

.icon-3{

	display: none;
}
.icon-4{

	display: none;
}
.icon-5{

	display: none;
}
.icon-6{

	display: none;
}
.icon-7{

	display: none;
}
/*End second Section */

/*Third Section */
.icon2-1{

	display: none;
}

.icon2-2{

	display: none;
}

.icon2-3{

	display: none;
}
.icon2-4{

	display: none;
}

.icon-words{

	display: none;
}

.icon-words2{

	display: none;
}
/*End Third Section */


/*fourth Section */
.icon3-2{

	display: none;
}

.icon3-3{

	display: none;
}

.icon3-4{

	display: none;
}
.icon3-5{

	display: none;
}

.icon3-6{

	display: none;
}

/*End fourth Section */

/*fifth Section */

.five-sec-2, .lo2lo2,
.div-2{

	display: none;
}

.div-4{

	display: none;
}

.div-5{

	display: none;
}

.div-6{

	display: none;
}

.div-7{

	display: none;
}


/*End fifth Section */

/* sixth section */

.sixth-sec-2, .sixth-sec, .div2-1, .div2-2, .div2-3, .div2-4, .li1-1, .li1-2, .li1-3, .li1-4, .li1-5,
.li2-1, .li2-2, .li2-3, .li2-4, .li2-5, .li2-6, .li2-7,
.li3-1, .li3-2, .li3-3, .li3-4, .li3-5, .li4-1, .li4-2, .li4-3, .li4-4, .li4-5, .li4-6, .li4-7{
	
	display: none;
}

/* End sixth Section */


/* seventh section */

.seventh-sec{

	display: none;
}
.div3-1, .li5-2, .li5-3, .li5-4, .li5-5, .li5-6, .li5-7, .li5-8{
	display: none;
}

/* End seventh Section */


/* eighth section */

.eighth-sec, .eighth-sec-2, .eighth-sec-3, .div4-1,
.li6-1-1, .li6-1-2, .li6-1-3, .li6-1-4,
 .li6-3, .li6-4, .li6-6, .li6-7, .li6-8{

	display: none;
}

/* End eighth Section */

/* Outro */

.outro, .div5-logo, .div5-1, .div5-2, .div5-3, .div5-4, .div5-5,.outrov{

	display: none;
}

/* End Outro */


/*End Main*/
/*first sec*/
.fist-sec{
	display: none;
	width: 100%;
	height: 100%;

}
.f-a img{
  	width: 400px;
  	margin: 0px auto;
  	margin-top: 100px;
}
.f-b img{
    width: 100%;
}
/*End first sec*/

/*Header*/
.header{
	
	margin-top: 20px;
}
.logo{
	width: 180px;
}
.patline{
	width: 100%;
}
/*End Header*/

/*Footer*/
.footer{

	display: none;
}
.footer img{
	
}
/*End Footer*/

/*Sec-sec*/


.third-sec{
	display: none;
}

.fourth-sec{
	display: none;
	height: 100%;
}

.row1{

	height: 35%;
}

.five-sec{
	display: none;
}
/*End-Sec*/