body{
	background: #FEF5E6;
	width: 100%;
	height:100%;
	margin: 0; height: 100%; overflow: hidden
}

ul li{
	list-style: none;
}
/*Intro*/
.intro{
	display: none;
}
/*End intro*/

/*Main*/
.main{

}
/*End Main*/
/*first sec*/
.fist-sec{
	display: none;
	width: 100%;
	height: 100%;

}
.f-a img{
  	width: 400px;
  	margin: 0px auto;
  	margin-top: 100px;
}
.f-b img{
    width: 100%;
}
/*End first sec*/

/*Header*/
.header{
	
	margin-top: 20px;
}
.logo{
	width: 180px;
}
.patline{
	width: 100%;
}
/*End Header*/

/*Footer*/
.footer{

}
.footer img{
	
}
/*End Footer*/

/*Sec-sec*/
.sec-sec{
	display: none;
}


.third-sec{
	display: none;
}

.fourth-sec{
	display: none;
}

.five-sec{
	display: none;
}
/*End-Sec*/