body, html{
	background: #FEF5E6;
	width: 100%;
	height:100%;
	margin: 0; height: 100%; overflow: hidden;
	min-height: 100% !important;

}

ul li{
	list-style: none;
}
/*Intro*/
#intro{

}
/*End intro*/

/*Main*/
.main{

	display: none;
}

/*Second Section */
.icons-dis{

	display: none;
}

.icon-1{

	display: none;
}

.icon-2{

	display: none;
}

.icon-3{

	display: none;
}
.icon-4{

	display: none;
}
.icon-5{

	display: none;
}
.icon-6{

	display: none;
}
.icon-7{

	display: none;
}
/*End second Section */

/*Third Section */
.icon2-1{

	display: none;
}

.icon2-2{

	display: none;
}

.icon2-3{

	display: none;
}
.icon2-4{

	display: none;
}

.icon-words{

	display: none;
}

.icon-words2{

	display: none;
}
/*End Third Section */


/*fourth Section */
.icon3-2{

	display: none;
}

.icon3-3{

	display: none;
}

.icon3-4{

	display: none;
}
.icon3-5{

	display: none;
}

.icon3-6{

	display: none;
}

/*End fourth Section */

/*fifth Section */
.div-1{

	display: none;
}

.div-2{

	display: none;
}

.div-3{

	display: none;
}

.div-4{

	display: none;
}

.div-5{

	display: none;
}

.div-6{

	display: none;
}

.div-7{

	display: none;
}

/*End fifth Section */

/* sixth section */

.sixth-sec{

	display: none;
}
.div2-1, .div2-2, .div2-3, .div2-4, #div2-1-h2{
	display: none;
}

/* End sixth Section */


/*End Main*/
/*first sec*/
.fist-sec{
	display: none;
	width: 100%;
	height: 100%;

}
.f-a img{
  	width: 400px;
  	margin: 0px auto;
  	margin-top: 100px;
}
.f-b img{
    width: 100%;
}
/*End first sec*/

/*Header*/
.header{
	
	margin-top: 20px;
}
.logo{
	width: 180px;
}
.patline{
	width: 100%;
}
/*End Header*/

/*Footer*/
.footer{

	display: none;
}
.footer img{
	
}
/*End Footer*/

/*Sec-sec*/


.third-sec{
	display: none;
}

.fourth-sec{
	display: none;
	height: 100%;
}

.row1{

	height: 35%;
}

.five-sec{
	display: none;
}
/*End-Sec*/